In [2]:
n1=1

In [3]:
n2=10.5

# variable

In [4]:
name='krina borad'

In [5]:
print(n1)

1

In [6]:
print("n2 is",n2)

n2 is 10.5

In [7]:
print("name is",name)

name is krina borad

In [8]:
name="akash technolab"

In [11]:
print("name is :",name)

name is : akash technolab

In [12]:
name="akashsir.com"

In [13]:
print("name is :",name)

name is : akashsir.com

In [14]:
a,b,c=10,10.5,"akash technolab"

In [15]:
print(a)

10

In [16]:
print(b)

10.5

In [17]:
print(c)

akash technolab

In [18]:
a=b=c=10

In [24]:
print("value is :",a)

value is : 10

In [25]:
print("value is :",b)

value is : 10

In [26]:
print("value is :",c)

value is : 10

In [27]:
n1,n2,name=10,20.5,"krina"

In [29]:
print(n1)

10

In [31]:
print(n2)

20.5

In [33]:
print("name is",name)

name is krina

In [34]:
n1=n2=name=10

In [35]:
print(n1)

10

In [36]:
print(n2)

10

In [37]:
print(name)

10

# data types

In [43]:
#number
#string
#list
#tuple
#dictionary
#boolean

In [44]:
n1=10

In [45]:
print(n1,"is of type",type(n1))

10 is of type <class 'int'>

In [46]:
n2=10.5

In [47]:
print(n2,"is of type",type(n2))

10.5 is of type <class 'float'>

In [48]:
n3=1+2j

In [49]:
print(n3,"is of type",type(n3))

(1+2j) is of type <class 'complex'>

In [53]:
print(n2,"is complex number?",isinstance(10.5,int))

10.5 is complex number? False

In [54]:
print(n3,"is complex number?",isinstance(n3,complex))

(1+2j) is complex number? True

In [55]:
n2=10.5

In [56]:
print(n2,"is of type",type(n2))

10.5 is of type <class 'float'>

In [57]:
n2=10+3j

In [58]:
print(n2,"is of type",type(n2))

(10+3j) is of type <class 'complex'>

In [59]:
print("n2 is",isinstance(n2,int))

n2 is False

In [60]:
print("n2 is",isinstance(n2,complex))

n2 is True

In [61]:
name="akash technolab"

In [62]:
print(name)

akash technolab

In [63]:
print("name is:",name)

name is: akash technolab

In [64]:
print(name[0])

a

In [65]:
print(name[2:5])

ash

In [66]:
print(name[2:])

ash technolab

In [69]:
print(name * 2)

akash technolabakash technolab

In [70]:
print(name + "hello")

akash technolabhello

In [72]:
name="krina"

In [73]:
print(name)

krina

In [74]:
print(name[2])

i

In [75]:
print(name[1:5])

rina

In [76]:
print(name[3:])

na

In [77]:
print(name[ :3])

kri

In [78]:
print(name*2)

krinakrina

In [79]:
print("hello"+ name)

hellokrina

In [81]:
list=[10,10.5,"akash technolab"]

In [82]:
print(list)

[10, 10.5, 'akash technolab']

In [83]:
list=[10,20,30,"krina",40,50,"borad",60]

In [84]:
print(list)

[10, 20, 30, 'krina', 40, 50, 'borad', 60]

In [85]:
print("list[2]=",list[2])

list[2]= 30

In [87]:
print("list [0:3]=",list[0:3])

list [0:3]= [10, 20, 30]

In [91]:
print("list[5:1]=",list[5:])

list[5:1]= [50, 'borad', 60]

In [93]:
li=[10,20,30.5,'krina']

In [95]:
print(li)

[10, 20, 30.5, 'krina']

In [97]:
print(type(li))

<class 'list'>

In [98]:
print(li[1])

20

In [99]:
print(li[1:3])

[20, 30.5]

In [100]:
print(li[2: ])

[30.5, 'krina']

In [101]:
print(li[ :3])

[10, 20, 30.5]

In [103]:
tuple=(10,20,30.5,'krina')

In [104]:
print(tuple)

(10, 20, 30.5, 'krina')

In [105]:
li[1]=20.5

TypeError: 'tuple' object does not support item assignment

In [106]:
li=[10,20,30.5,'krina']

In [107]:
li[1]=20.5

In [108]:
print(li)

[10, 20.5, 30.5, 'krina']

In [109]:
d={1:"akash",2:"technolab","key":10}

In [110]:
print(type(d))

<class 'dict'>

In [112]:
print("d[1]=",d[1])

d[1]= akash

In [113]:
print("d[2]=",d[2])

d[2]= technolab

In [114]:
print("d['key']=",d['key'])

d['key']= 10

In [115]:
d1={10:"hello",'a1':100,20:200}

In [116]:
print(d1)

{10: 'hello', 'a1': 100, 20: 200}

In [117]:
print(type(d1))

<class 'dict'>

In [118]:
print(d1[10])

hello

In [119]:
print(d1['a1'])

100

In [120]:
print(d1[20])

200